/Oop/nbproject/private/
/Oop/build/
/Oop/dist/
/Test1/nbproject/private/
/Oop3/nbproject/private/
/Oop3/build/
/Oop3/dist/
/TapLuyen/nbproject/private/
/TapLuyen/build/
/PETHU/nbproject/private/
/Demo-JPA/target/
/TapLuyen2/nbproject/private/
/TapLuyen2/build/
/TapLuyen2/dist/
/TinhToan/nbproject/private/
/TinhToan/build/
/Alphabet/nbproject/private/
/Alphabet/build/
/Alphabet/dist/
/CountWord/nbproject/private/
/CountWord/build/
/ClassFication/nbproject/private/
/ClassFication/build/
/ClassFicationObject/nbproject/private/
/ClassFicationObject/build/
/ArrangeGmail/nbproject/private/
/ArrangeGmail/build/
/CutString/nbproject/private/
/CutString/build/
/PrivateNumberPhone/nbproject/private/
/PrivateNumberPhone/build/
/FilterError/nbproject/private/
/FilterError/build/
/StoreManager/nbproject/private/
/StoreManager/build/
/StoreManager/dist/
