/Oop/nbproject/private/
/Oop/build/
/Oop/dist/
/Test1/nbproject/private/
/Oop3/nbproject/private/
/Oop3/build/
/Oop3/dist/
/TapLuyen/nbproject/private/
/TapLuyen/build/
/PETHU/nbproject/private/
/Demo-JPA/target/
/TapLuyen2/nbproject/private/
/TapLuyen2/build/
/TapLuyen2/dist/
